.container{
    text-align: center;
}

.inputs{
    border: 2px solid black; 
    border-radius: 8px;
    padding: 13px;
    margin-right: 5px;
    margin: 8px;
}

.boton{
    
        background: #0cebeb;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        border: 2px solid black;
        border-radius: 8px;
        color:black;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}
.boton:hover{
    background-color: #fff;
    transform: scale(1.05);
    color: #fff;

}
